.button{
    background-color: rgb(210, 210, 210);
    border-radius: 8px;
    padding: 16px;
    font-size: 20px;
    margin: 2.5px;
    box-sizing: border-box;
    width: calc(25% - 5px);
    
    
}


#calculatorBody{
    width: 250px;
    display: flex;
    flex-wrap:wrap;


}